---
const {title} = Astro.props;
---

  <!-- Contact Section -->
  <section id="contact" class="lg:pt-0 pt-4 pb-6">
    <div class="container mx-auto flex align-middle items-center justify-center">
      <article class="prose lg:prose-xl text-base-300 text-center md:text-left">
      <h2 class="text-primary">Contact Us</h2>
       <p>Ready to tell your story? We're here to listen and craft. Together, let's create a symphony of words that echoes in the hearts and minds of your audience.</p>
      <a href="mailto:info@example.com" class="btn btn-primary">Email Us</a>
      </article>
    </div>
  </section>
 
