---
import "../global.css"
---

  <!-- Hero Section -->

  <div class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-xl">
      <h1 class="text-5xl font-bold">Welcome to Phil's Corner</h1>
      <p class="py-6">Where words come to life and stories ignite. Are you searching for captivating, compelling, and conversion-focused content that leaves a lasting impact on your audience? Look no further! Our team of experienced copywriters is here to transform your ideas into eloquent narratives that resonate with your target audience and drive results.</p>
      <button class="btn btn-primary"> <a href="#contact">Get Started</a></button>
    </div>
  </div>
</div>