---
import "../global.css"
---

  <!-- Services Section -->
  <section id="services" class="bg-gray-100">
    <div class="container mx-auto">
      <article class="prose lg:prose-xl text-base-300">
      <h2 class="text-primary">Our Services</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <!-- Service Item -->
        <div class="bg-white px-6 rounded-lg shadow-md">
          <h3 class="text-accent">Web Copy</h3>
          <p>Make your online presence shine with website copy that not only informs but also entices visitors to explore, engage, and convert.</p>
        </div>
        <div class="bg-white px-6 rounded-lg shadow-md">
          <h3 class="text-accent">Blog Posts</h3>
          <p>Fuel your content marketing strategy with insightful and share-worthy blog posts that position you as an industry thought leader.</p>
        </div>
         <div class="bg-white px-6 rounded-lg shadow-md">
          <h3 class="text-accent">Product Descriptions</h3>
          <p>Turn browsers into buyers with persuasive product descriptions that highlight the unique benefits of what you offer.</p>
        </div>
        <div class="bg-white px-6 rounded-lg shadow-md">
          <h3 class="text-accent">Email Campaigns</h3>
          <p>Nurture leads and keep customers coming back with attention-grabbing email campaigns that deliver value and drive conversions.</p>
        </div>
        <div class="bg-white px-6 rounded-lg shadow-md">
          <h3 class="text-accent">Social Media</h3>
          <p>Stand out in the crowded social media landscape with posts that spark conversations, encourage sharing, and build a loyal community.</p>
        </div>
      
        <!-- More Service Items -->
        <!-- Add more service items here -->
      </div>
      <p>Experience the difference words can make for your business. Contact us today for a consultation and let's transform your ideas into impactful words that resonate, inspire, and drive success.</p>
    </article>
    </div>
  </section>